<div class="container py-5">
  <h2 class="h3 mb-4 border-bottom pb-2">{{ userName }} さん</h2>

  <!-- 表示切り替え・チェックボックス・新規作成ボタン -->
  <div class="d-flex flex-wrap gap-2 flex-md-row flex-column mt-4">
    <!-- 表示切り替えボタン -->
    <app-button
      [label]="showForm ? '編集を閉じる' : 'プロフィールを編集'"
      color="gray"
      size="md"
      (click)="showForm = !showForm"
      [block]="true"
    ></app-button>

    <!-- 新規作成ボタン -->
    <app-button
      label="＋ 新規作成"
      color="blue"
      size="md"
      [routerLink]="'/reports/new'"
      [queryParams]="{ useLatest: useLatest }"
      [block]="true"
    ></app-button>

    <!-- チェックボックス -->
    <div class="form-check align-self-center ms-1">
      <input
        type="checkbox"
        class="form-check-input"
        id="useLatest"
        [(ngModel)]="useLatest"
        name="useLatest"
      />
      <label class="form-check-label" for="useLatest">
        直近の報告書を引き継ぐ
      </label>
    </div>
  </div>

  <!-- 編集フォーム -->
  <app-employee-edit *ngIf="showForm" [selfMode]="true"></app-employee-edit>

  <!-- 報告書テーブル -->
  <app-report-table *ngIf="!showForm" [filterByUser]="true"></app-report-table>
</div>
