<div class="container mt-5 pt-3">
  <!-- タイトル -->
  <div class="row mb-4 mt-3 align-items-center">
    <div class="col-12 col-md-8 offset-md-2">
      <h2 class="h3 mb-3">所属 設定</h2>

      <!-- 所属追加フォーム -->
      <div class="input-group mb-1">
        <input
          type="text"
          class="form-control"
          placeholder="新しい所属名"
          [(ngModel)]="newDepartmentName"
        />
        <button class="btn btn-primary" (click)="addDepartment()">追加</button>
      </div>

      <!-- エラーメッセージ表示 -->
      <div *ngIf="errorMessage" class="text-danger small mb-3">
        {{ errorMessage }}
      </div>
    </div>
  </div>

  <!-- 所属一覧テーブル -->
  <div *ngIf="departments.length > 0; else noDepartments" class="row">
    <div class="col-12 col-md-8 offset-md-2">
      <!-- 削除エラーがあれば表示 -->
      <div *ngIf="deleteErrorMessage" class="text-danger small mb-2">
        {{ deleteErrorMessage }}
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-hover align-middle text-nowrap">
          <thead>
            <tr>
              <th>ID</th>
              <th>所属名</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dept of departments">
              <td>{{ dept.id }}</td>
              <td>{{ dept.name }}</td>
              <td>
                <button
                  class="btn btn-outline-danger btn-sm"
                  (click)="deleteDepartment(dept.id)"
                >
                  削除
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <ng-template #noDepartments>
    <p class="text-center mt-4">データが存在しません。</p>
  </ng-template>
</div>
