<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand ms-1">報告書管理アプリ</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" routerLink="/reports" (click)="closeNavbar()"
            >報告書一覧</a
          >
        </li>

        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" routerLink="/employees" (click)="closeNavbar()"
            >従業員一覧</a
          >
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" routerLink="/departments" (click)="closeNavbar()"
            >所属設定</a
          >
        </li>

        <li class="nav-item" *ngIf="isAdmin">
          <a
            class="nav-link"
            routerLink="/report-due-dates"
            (click)="closeNavbar()"
          >
            提出期日設定
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/profile" (click)="closeNavbar()"
            >{{ userName }} さん</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" (click)="onLogout()" style="cursor: pointer">
            ログアウト
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
